body {
	margin: 0;
	padding: 0;
	background-color: #EAECEE;
	font-family: Verdana, sans-serif;
}

#container {
	margin: 0 auto;
	padding: 0 20px 10px 20px;
	border: 1px solid #666666;
	width: 865px; /* subtract 40px from banner width for padding */
	background: #FFFFFF url(/cdidemo/resources/gfx/banner.png) no-repeat;
	padding-top: 110px;
}

#sidebar {
	font-size: 0.9em;
	width: 225px;
	float: right;
	border: 1px solid #666666;
	background: #EAECEE;
	padding: 0 15px 5px 15px;
}

#sidebar ul {
	padding-left: 30px;
}

#footer {
	clear: both;
	text-align: center;
	color: #666666;
	font-size: 0.85em;
}

code {
	font-size: 1.1em;
}

span.invalid {
	padding-left: 3px;
	color: red;
}

.dataTable {
	width: 100%;
	background: #c0c0c0;
	border-spacing: 1px;
}

.dataTable td {
	padding: 2px;
	border-collapse: collapse;	
}

.evenRow {
	background: #f6f6f6;
}

.oddRow {
	background: #fefefe;
}

.dataTable th {
	padding: 4px;
}

.dataTable img {
	vertical-align: bottom;
}

.smallCol {
	width: 20%;
}

.medCol {
	width: 40%;
}

.headerClass {
	background: #FFFFFF url(/cdidemo/resources/gfx/table_header_blue.png)
		repeat-x;
}

.sortedHeaderClass {
	background: #FFFFFF
		url(/cdidemo/resources/gfx/table_header_dark_blue.png) repeat-x;
}

.linkStyle {
	text-decoration: none;
	color: #000000;
	font-size: 0.9em;
}

.activeLinkStyle {
	text-decoration: underline;
	font-size: 0.9em;
	color: #404040;
}

.paginator {
	padding: 4px;
}